body{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blue{
    padding: 80px;
    background-color: blue;
}

.yo{
    padding: 80px;
    margin: 30px;
    background-color: yellow;
}

.red{
    padding-right: 300px;
    background-color: red;
}

.green{
    padding-bottom: 270px;
    background-color: green;
}

.flex{
    display: flex;
}

.esp{
    padding: 80px;
}

.cir{
    border-radius: 100%;
}